block footer
  #footer-wrapper
    .container
      .row

        .col-md-2
          address
            p
              | Tim Schwalbe
              br
              | Meisenstr. 65
              br
              | 33607 Bielefeld
        .col-md-8
          address
            p
              i.fa.fa-phone
              | + 49 521 123456
              br
              i.fa.fa-print
              | + 49 521 1234567
              br
              i.fa.fa-envelope
              a(href="javascript:void(0)") TimSchwalbe1@gmail.com
        .col-md-2
          ul.pull-right
            li
              a(href="", title="Impressum") Impressum
